body {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.london-map {
    max-width: 90%;
    height: 80%;
}

.map-borough {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: #000000;
    stroke-width: 3.5;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-opacity: 1;
    cursor: pointer;
    transition: 0.1s ease;
}

.map-borough:hover {
    filter: brightness(90%);
}

.map-border {
    fill: none;
    fill-opacity: 1;
    fill-rule: evenodd;
    stroke: #000000;
    stroke-width: 6.19999981;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

.timeline-slider {
    width: 70%;
    max-width: 1000px;
    cursor: pointer;
    margin: 10px;
}

.timeline-slider-label {
    margin: 5px;
}
